[2016-10-08 06:58] egoist opened #1 "In-browser console"
Make a console component that you can use to debug your component without open chrome devtools. Like the ones in react-storybook and vue-devtools

[2016-10-08 11:19] egoist commented on #1
Need a component like this https://github.com/vuejs/vue-requests/issues/20

[2016-10-08 11:21] egoist opened #2 "Resize pane"
The sidebar and console should be resizable.

[2016-10-08 11:22] egoist opened #3 "Component filter"
Add a search box to filter components in the sidebar

[2016-10-08 14:06] QingWei-Li opened #4 "[feature request] Display demo source code"
很棒的项目！
是否考虑加入显示源代码的功能，或者添加 Markdown？这样就可以做为一个生成组件文档工具啦。

[2016-10-08 14:29] egoist commented on #4
欢迎 PR 😂

[2016-10-08 14:45] egoist commented on #4
想实现可以这样，不过这样示例代码和用来测试的组件代码要写两次感觉有点啰嗦 😅

[code]

[2016-10-08 14:51] QingWei-Li commented on #4
是的，不过也无妨。主要是能添加描述信息，顺带加上源码，而且个人感觉示例代码用 vue template 语法居多，所以示例代码和测试组件代码写法可能会不一样。

[2016-10-08 15:48] egoist commented on #4
A simple sample code implementation.

<img width="346" alt="2016-10-08 11 47 21" src="https://cloud.githubusercontent.com/assets/8784712/19214280/95550eb2-8db1-11e6-83e1-8c928cafb749.png">

 或许再加个 README 选项传入 markdown。

[2016-10-08 15:59] QingWei-Li commented on #4
~~还在纠结 markdown 要怎么写比较好看。~~

~~\- 如果是传字符串的话，多行的字符串就会用 template string, 但是这样反引号就和 markdown 里的反引号语法冲突了，只能用 \`~~

[code]

~~\- 用之前的做法涉及多行的话就用 /，但是感觉好麻烦~~

[code]

~~\- 或者写一个 babel 插件？😂~~

代码就写到 sample 里好了... 加一个 markdown 选项传描述信息

[2016-10-08 16:02] egoist commented on #4
babel 插件这里怎么用，要不然 markdown 就放在单独的文件用比如 markdown-loader 什么的引入 233

[2016-10-08 16:09] QingWei-Li commented on #4
独立的 markdown 文档好像也挺不错，标题对应起来就好了。

[2016-10-08 16:51] egoist commented on #4
搞事情，弄个 play-loader 233

[code]

[2016-10-08 17:04] egoist opened #5 "play-loader proposal"
since we manage to use `example` to show example code, and `readme` to show some intro for the component you wanna play, I think a play-loader may suit the needs.

[code]

[code]

With this loader, if you use `<template>` you don't need to define the example code for this component, since we can parse the content in `<template>` tag and use it as example.

[2016-10-08 17:07] egoist commented on #5
related to #4

[2016-10-08 17:56] egoist opened #6 "Add a tab for discussions"
This is useful for designers and programmer to discuss about the related component. It should support disqus and duoshuo, etc…

[2016-10-10 02:08] PandaWhisperer opened #7 "play.js is not valid JavaScript"
I love the idea of doing react-storybook for Vue.js, in fact, just the other day, I had thought about implementing it myself.

But please, since the goal of Vue.js is replacing React and its JSX nonsense, can we not have unquoted HTML in JavaScript files? Perhaps the test functions could just return a string instead, so that the `play.js` is valid JavaScript and doesn't throw off my linter.

Thank

[2016-10-10 03:26] djyde commented on #7
Actually I prefer using Hyperscript instead.

[2016-10-10 03:56] #7 closed, assigned to nobody

[2016-10-10 03:59] egoist commented on #7
So, now we have a bunch of ways to write the play script:

[code]

A good thing of using template is, it will automatically generate example code for the component.

[2016-10-10 08:22] egoist opened #8 "Better docs"
Planning to create a gitbook for vue-play...

[2016-10-10 10:38] egoist commented on #8
Done, landed in https://egoistian.com/vue-play

[2016-10-10 10:38] #8 closed, assigned to nobody

[2016-10-10 13:23] egoist commented on #4
现在支持用 template 了，用 template 的话就不用写 example。 https://github.com/egoist/vue-play/issues/7

[2016-10-10 13:23] #4 closed, assigned to nobody

[2016-10-11 01:39] QingWei-Li opened #10 "[Idea] Read 'play script' from markdown file"
// 英文烂我还是用中文

现在是通过一个 play.js 写组件 demo，或许可以加入从 markdown 文件生成 play.js 例如

[code]

其中 :::demo 部分处理成组件配置，如果用 markdown-it 的话可以用这个插件 https://github.com/markdown-it/markdown-it-container

这样的效果是文档是可读的，而且还能直接生成 play script

[2016-10-11 14:33] egoist commented on #2
Thanks for @QingWei-Li 's work, resize pane feature has landed in `vue-play@0.1.10`

[2016-10-11 14:33] #2 closed, assigned to nobody

[2016-10-11 14:43] egoist commented on #2
@QingWei-Li but there's still an issue, if you drag really fast you can't drag it to the end:

![http://g.recordit.co/uswI4mWF2Q.gif](http://g.recordit.co/uswI4mWF2Q.gif)

Is it the issue of mousemove? or maybe use drag event is better?

[2016-10-11 14:52] egoist opened #11 "Add keyboard shortcuts"
Example is from react-storybook

<img width="434" alt="2016-10-11 10 51 26" src="https://cloud.githubusercontent.com/assets/8784712/19275132/4d778d6c-9005-11e6-9a82-153cad1471d5.png">

[2016-10-11 18:25] QingWei-Li commented on #2
I will check it tomorrow.

[2016-10-12 10:41] mickdekkers opened #12 "README needs more fancy gifs"
A high-quality gif of vue-play in use, similar to [react-storybook's README](https://github.com/kadirahq/react-storybook#react-storybook---) would be a great way to get people interested.

[2016-10-12 10:41] egoist commented on #12
I will add it later.

[2016-10-14 12:40] egoist commented on #11
| shortcuts | description |
| --- | --- |
| <kbd>cmd shift k</kbd> | toggle full window mode (toggle all panels) |
| <kbd>cmd shift l</kbd> | toggle left panel |
| <kbd>cmd shift d</kbd> | toggle down panel |
| <kbd>shift ←</kbd> | previous playspot |
| <kbd>shift →</kbd> | next playspot |

[2016-10-14 17:33] just-be-dev commented on #11
I'm going to try to tackle this one.

[2016-10-18 23:04] just-be-dev commented on #6
Where will the tab go? Inside the... playground? or whatever the component rendering area is called.

[2016-10-18 23:35] just-be-dev opened #13 "Dev build doesn't work due to several missing dependencies."
I'm about to put in a PR to track this, but here're the reproduction steps
1. `clone https://github.com/vue-play/vue-play`
2. `cd vue-play`
3. `yarn`
4. `yarn run build`

Pretty much the steps I took and it failed.

Looks like there are only two issues. `vbuild` isn't listed as a dev dependency and the version of `vue` needs to be updated.

[2016-10-18 23:39] zephraph commented on #13
First failure (due to missing vbuild):
![image](https://cloud.githubusercontent.com/assets/3087225/19500373/705c73be-956a-11e6-99a1-33a19f5b11cc.png)

[2016-10-19 03:27] egoist commented on #6
@zephraph inside the down panel, just add a new tab

[2016-10-19 13:27] egoist commented on #13
Close on #14

[2016-10-19 13:58] #13 closed, assigned to nobody

[2016-10-20 01:01] just-be-dev opened #16 "Example should run in dev mode"
A few issues here.

There should be a command to run the example (to be able to verify changes). The `surge` command seems to do something like that, but I have no idea what `surge` is.

I used a snippet of `surge` to accomplish this, but it doesn't actually work.

[code]

If I run that I get this error

[code]

Note that I _have_ built and `/Users/<user>/Git/vue-play/dist/vue-play.css` exists, bu

[2016-10-20 02:30] egoist commented on #16
How did you install `vue-play-cli`?

[2016-10-20 02:39] egoist commented on #16
If you install it from npm it will insert `vue-play/dist/vue-play.css` to entry while building, but apparently `vue-play` is not installed in the example, it's using the source files in `./src`.

Currently I use https://github.com/vue-play/vue-play-cli/blob/master/lib/make-config.js#L95 to check if it should insert `vue-play/dist/vue-play.css`

[2016-10-20 02:58] egoist commented on #16
For the `webpack-hot-middleware` error, it seems `/Users/user/.yarn-config/global/node_modules/vue-play-cli/node_modules` will be empty if it's installed with yarn 😰 that's a bit tricky to handle

[2016-10-20 03:43] #16 closed, assigned to nobody

[2016-10-20 03:54] egoist commented on #16
Development section updated https://github.com/vue-play/vue-play#development

[2016-10-22 01:14] just-be-dev opened #17 "Make console remember its height between playspot changes"
I think it would also be useful for it to default to no more than 50% of the height. As in, the default height or less if the default is > than 50% of the viewport.

[2016-10-22 03:45] just-be-dev commented on #11
For the full window mode, what do you want the default to be? So, if one panel is open and one is closed what do you do? Close the open one? Open the closed one?

[2016-10-22 03:51] egoist commented on #11
👍🏻 Exactly. But not open all the closed ones, just open the previously closed ones by entering full window mode 😅

[2016-10-22 04:19] just-be-dev commented on #11
... I think I get it... It's pretty easy to change regardless.

This PR turned out to be a LOT more work than I thought it would be...

[2016-10-22 04:21] egoist commented on #11
lol, do you use any 3rd-party lib? like mousetrap

[2016-10-22 04:24] just-be-dev commented on #11
For this PR? I haven't added any dependencies for this.

[2016-10-22 04:51] just-be-dev commented on #11
OKAY! I have working keybindings! It's not completely done yet (have to hook up changing the playspot), but overall it's working. I did lots of things. Please take a look.

Also, is there someway we can talk more directly? Would be easier to get feedback.

[2016-10-22 13:06] just-be-dev commented on #6
How do we persist the discussion?

[2016-10-22 13:19] egoist commented on #6
@zephraph use disqus or such 😅

[2016-10-22 13:47] just-be-dev commented on #5
I think writing your own loader would be a huge pain. Maybe if this got approved you could do some custom things: https://github.com/vuejs/vue-loader/pull/308.

As is I'm not sure if the work is worth it.

[2016-10-22 14:22] egoist commented on #11
- [x] feature
- [ ] doc

[2016-10-22 14:24] just-be-dev commented on #6
As per our discussion, I believe this should likely just be closed. It's a great idea, but probably better implemented via a plugin system.

[2016-10-22 14:25] #6 closed, assigned to nobody

[2016-10-22 15:15] just-be-dev opened #18 "Build a plugin system"
As mentioned in #6 it would nice to have a plugin system.

There're a few things that I can think of that this would entail
- allowing the registration of a new tabbed widget
- allowing the override of the main render window component
- allowing the outside triggering of currently defined actions (meaning we'd need good docs on those)
- potentially allowing for themes or customization of the app s

[2016-10-22 17:52] just-be-dev commented on #17
Closing in favor of #19.

[2016-10-22 17:52] #17 closed, assigned to nobody

[2016-10-22 22:21] just-be-dev commented on #11
I think we should add a pop up similar to what react-storybook has. I tinkered with it a little, but I didn't really get anything I liked. Maybe you'll have better luck.

[2016-10-24 01:48] just-be-dev commented on #3
This is a lot harder than expected... Due to the fact that it's a two-tiered list (component and scenario), there technically needs to be two filters and the top one needs to have knowledge of the bottom one.

[2016-10-24 01:56] egoist commented on #3
There could be a `select` element to choose searching components or scenarios(default).

Maybe we don't need this?

[2016-10-24 02:33] just-be-dev commented on #3
I think I have an idea of how to accomplish it with a directive... I'll play around with it more sometime later in the week.

[2016-10-24 12:55] egoist opened #21 "Use vbuild in vue-play-cli"
`vue-play-cli` has many overlapping functionalities with `vbuild`, but `vbuild` is much more powerful.

The things `vbuild` lacks comparing to `vue-play-cli` are:
- vbuild does not insert 'vue-play/dist/vue-play.css' to entry
- vbuild does not extend your custom webpack config https://github.com/egoist/vbuild/issues/29

[2016-10-24 13:27] just-be-dev commented on #21
Won't this make it really heavy? I mean, I like the idea, just asking.

[2016-10-24 13:36] egoist commented on #21
@zephraph I don't know, if only consider the dependencies, `vue-play-cli` is already very heavy 😂

No matter whether we use `vbuild` in `vue-play-cli`, I think I will move some rarely used features (like browser-sync) to a separate package, maybe `vbuild-addons` 🤔

By combining https://github.com/egoist/vbuild/issues/29 and https://github.com/webpack-flow/webpack-flow

[2016-10-24 15:52] jfcieslak opened #22 "adding stylus plugins in play.config.js"
Hi, I have a bit of a problem with configuring `play.config.js`
I would like to use stylus on templates, with 2 plugins (nib and rupture). The plugins is where it fails. in my normal `webpack.base.conf.js` I just require the modules for `nib` and `rupture`, and then add the following to `module.exports`:

[code]

But this doesn't seem to work when I add it to `play.config.js`. I get the build erro

[2016-10-24 16:11] egoist commented on #22
Can you provide your `webpack.base.conf.js` for me to repro?

If you're using your own webpack config, alternatively you can drop `vue-play-cli` and use `webpack-dev-server` or custom server script. The only thing you really need is `vue-play`.

[2016-10-24 16:58] jfcieslak commented on #22
My `webpack.base.conf.js` looks like this.

[code]

I was trying to add it like so to the `play.config.js`, which i put in the root of my project.

[code]

Needless to say, I am very far from being a webpack expert. Any help greatly appreciated here!

[2016-10-24 17:05] egoist commented on #22
Any luck with `webpack --config webpack.base.conf.js -p` ?

You can't configure stylus in `play.config.js` for now.

[2016-10-24 17:23] jfcieslak commented on #22
Not quite, this command launches the server without errors: `vue-play --webpack-config build/webpack.base.conf.js`. But it serves a blank page.

When I do vue-play with default settings and without loading stylus plugins, it renders just fine.

[2016-10-24 17:25] jfcieslak commented on #22
If you have time for this and want to check it out, I can post a repo with the project. It's just a dummy with starter component.

[2016-10-24 17:27] egoist commented on #22
@jfcieslak sure, please do

[2016-10-24 17:41] jfcieslak commented on #22
OK, here it is: https://github.com/jfcieslak/vue-play-app

[2016-10-24 21:02] just-be-dev commented on #22
Okay, so here's the issue.

@jfcieslak you're providing stylus configuration via [this config](https://github.com/jfcieslak/vue-play-app/blob/master/play.config.js#L15-L17).

@egoist we don't support top level arguments. We'd need an expansion argument around [here](https://github.com/jfcieslak/vue-play-app/blob/master/play.config.js#L15-L17).

We'll need to add an extra key like `moduleConfig` an

[2016-10-25 06:46] jfcieslak commented on #22
@zephraph, @egoist: Got it. Actually, what is the main webpack config file that vue-play uses? I am using vue-play within the project scaffolded with official cli, which I assume is going to be a typical case. So perhaps there could be a more straightforward way of using the the standard `build/webpack.dev.conf.js` as a main config? Anyway thanks for looking into this!

[2016-10-25 07:17] o3oSupport opened #23 "Hot Module Replacement not working"
Run the button example.play at http://localhost:5000.It looks good now.
Replace something...

Chrome DevTools:
The following modules couldn't be hot updated: (Full reload needed)
This is usually because the modules which have changed (and their parents) do not know how to hot reload themselves. See http://webpack.github.io/docs/hot-module-replacement-with-webpack.html for more details.

[2016-10-25 07:25] egoist commented on #22
@jfcieslak check out https://github.com/vue-play/vue-play-cli/blob/master/lib/make-config.js#L105

The only thing that differs from the official webpack template is it adds `vue-play/dist/vue-play.css` to entry and a markdown file loader (which you may rarely use).

[2016-10-25 08:00] egoist commented on #23
I guess you should handle hmr yourself? Editing js files does not have built-in hmr support

[2016-10-25 08:34] o3oSupport commented on #23
Yeah , i get it.

[2016-10-25 14:17] just-be-dev commented on #23
So is there still an issue here or can we close this?

[2016-10-25 14:19] just-be-dev commented on #22
@jfcieslak does that solution work for you? If so we can likely just close this issue. @egoist we probably need to add some explicit documentation around this.

[2016-10-26 02:40] o3oSupport commented on #23
Yeah.you can close it.

[2016-10-26 02:40] #23 closed, assigned to nobody

[2016-10-26 09:28] egoist opened #24 "Remember active tab"
Simply add a state `activeTab` in store, and in component add a computed value:

[code]

[2016-10-26 09:30] egoist opened #25 "Use Yarn in circleci"
Update `circle.yml` to persist Yarn cache, and use Yarn to install deps

[2016-10-26 13:43] #3 closed, assigned to nobody

[2016-10-27 00:54] just-be-dev commented on #24
So, I'm going to tackle this and start paving the way for #18.

This requires a pretty big refactor of how tabs work overall. I'm going to create a tab model that'll manage both the active state of the bottom panel and which tabs are available to be used.

Wish me luck...

[2016-10-27 02:13] just-be-dev commented on #25
Solved by #26

[2016-10-27 02:13] #25 closed, assigned to just-be-dev

[2016-10-27 07:50] jfcieslak commented on #22
This does explain how webpack config is extended by vue-play, maybe few words in the docs about it would do some good. Thanks!

[2016-10-27 07:50] #22 closed, assigned to nobody

[2016-10-27 09:28] egoist commented on #22
@jfcieslak As version 1.0 was just released, now `vue-play` is to focus on being a framework for demonstrating, leaving the other things to your own bundler setup (vue-play-cli is deprecated). If you are already using the official webpack template, you can almost use the same config but with a different entry to bundle the app.

However if you want a shorthand for bundling `play app`, use [vbuild]

[2016-10-27 09:44] jfcieslak commented on #22
OK, cool! will give it a try

[2016-10-27 11:29] #21 closed, assigned to nobody

[2016-10-28 22:55] dweldon opened #28 "Render in an iframe?"
Storybook renders it's equivalent of the `play-ground` in an iframe so global styles don't affect the interface. Would it be possible to do something similar with vue-play?

[2016-10-29 02:10] egoist commented on #28
I guess it's nice to have and require some changes to vue-play itself, eh but it's not that hard.

[2016-10-30 17:27] just-be-dev commented on #28
Solved in #29

[2016-10-30 17:27] #28 closed, assigned to nobody

[2016-10-31 11:56] casio opened #31 "Dist files missing from repo/releases?"
Hey there,

looking forward to, well, *play* around with this lib : )
However, installing it like `yarn add vue-play/vue-play` and following the examples gives me:
```Module not found: Error: Can't resolve 'vue-play' in '...'```
Same goes for the css import.

Just cloned the repo, ran `npm run build` and then linked it - working nicely now the `./dist` files actually are there.
Are they just missi

[2016-10-31 12:19] egoist commented on #31
Hi,  you can check out https://unpkg.com/vue-play/ , it seems dist is there.

btw. I wish you can come back in a couple days, this repo is currently under development, and the usage will change a bit (but breaking).

[2016-10-31 12:24] casio commented on #31
Thanks for the prompt response!

Sure, will do - probably I was just wrong installing from master anyway : )
The commit msgs including new version numbers made me think I could go without waiting for npm updates.

[2016-10-31 12:41] #31 closed, assigned to nobody

[2016-11-03 00:16] dweldon opened #32 "error in play/app.js"
I'm trying out rc1 and I'm seeing this error after the call to `app()`:

    Uncaught TypeError: (0 , _app2.default) is not a function

Any idea why might be causing that?

PS: The docs are missing `new` in front of `HtmlWebpackPlugin` in the webpack config.

[2016-11-03 00:51] egoist commented on #32
did you use the example code in readme?

[2016-11-03 01:14] egoist commented on #32
If you are using `require` it should be `require('vue-play/dist/app').default` or `import 'vue-play/dist/app'`

[2016-11-03 01:30] egoist commented on #32
`vue-play-cli` is pretty much done, you can check out https://github.com/vue-play/vue-play-cli

And here's the example entry for webpack. https://github.com/vue-play/vue-play-cli/tree/master/lib/entries

[2016-11-03 05:11] dweldon commented on #32
Yeah I used the sample code from the readme. My case may be a little more tricky because I'm integrating it with an existing vue-cli project. Perhaps it's just something silly that I'm missing. I'll give it another try and report back.

[2016-11-03 05:35] egoist commented on #31
`vue-play@2.0.0` released 🎉 no more API breaking changes 😃

Check out https://github.com/vue-play/vue-play#getting-started

[2016-11-03 06:25] #24 closed, assigned to just-be-dev

[2016-11-03 06:25] #11 closed, assigned to nobody

[2016-11-03 06:28] egoist opened #33 "Keep app state in url query"
for example, `left panel closed` => `?leftClosed=1`

what we want to keep:

- panel state
- tab state, which is active
- search filter

[2016-11-03 08:07] egoist commented on #12
eh, I added a simple gif preview, though it's not so high-quality, I will use a better one when we have hot reloading support for js files.

[2016-11-03 08:07] #12 closed, assigned to nobody

[2016-11-03 15:07] egoist commented on #32
Closed this, reopen it if you still have this issue.

[2016-11-03 15:07] #32 closed, assigned to nobody

[2016-11-03 19:40] dweldon commented on #32
@egoist I switched to using vue-play-cli and now everything is running. Thanks for all your work on this!

[2016-11-03 19:46] just-be-dev commented on #33
So this is handled at the router level, right? We could have a `queryParam` model that uses getters from the other models to build itself up and pass that as a `query` argument every time we navigate. Something like that.

[2016-11-04 12:22] casio commented on #31
very cool, congrats! 👍

playing around already.. : )

[2016-11-05 06:28] egoist opened #35 "Add .styleguide method"
Currently we're using `readme` property to display detailed usage, I'm thinking about deprecating that and using `.styleguide` method for adding styleguide to each component instead.

[code]

And click on the top-level component name in sidebar will navigate to styleguide page.

[2016-11-05 06:34] egoist commented on #35
And we can parse `props` from component and prepend it to styleguide page.

This way, we need to use a component as the `play` argument, we can infer its name by `component.name`:

[code]

Use a component as argument means we no longer need to register it explicitly when you're using `template` property:

[code]

[2016-11-05 14:21] MiYogurt opened #36 "how to custom edit mac's pointer?"
如题，我看你screenshot里面的mac鼠标指针很不一样，怎么修改的，能否告知。

[2016-11-05 14:36] egoist commented on #36
RecordIt 可以设置

[2016-11-05 14:36] #36 closed, assigned to nobody

[2016-11-13 09:50] sobolevn opened #37 "scss error"
Hi, I have faced an issue with my component, which styles are written in `scss`.

Here's the full source of the component itself: https://github.com/wemake-services/vue-material-input/blob/master/src/components/MaterialInput.vue

And the 'example' component source: https://github.com/wemake-services/vue-material-input/blob/master/dev/MaterialModel.vue

My `play/index.js` contents:

[code]

Error o

[2016-11-13 09:52] egoist commented on #37
I guess it should be `<style lang="sass"></style>` ?

[2016-11-13 10:04] sobolevn commented on #37
Yes, `lang="sass"` fixed it.

Is setting `lang="scss"` a wrong way in general or just with your implementation (never seen any issues before)?

[2016-11-13 10:08] egoist commented on #37
eh, I guess `vue-loader` finds the relevant loader by appending `-loader` to the value of `lang` attribute. so in general it's supposed to be `sass` 😅  just wondering why you didn't encounter this issue until now

[2016-11-13 10:08] #37 closed, assigned to nobody

[2016-11-14 11:37] sobolevn opened #38 "Provide source code as a link"
I would really love to give my users a link to the source code. `github`, `jsfiddle` or whatever. Right now only source code as text is possible.

What do you think?

[2016-11-14 12:32] egoist commented on #38
maybe we can accept a component:

[code]

and also if the value of `example` is a string we can check if it's a valid jsbin/jsfiddle/etc url. If so we wrap it in EmbedURL component implicitly.

[2016-11-28 11:53] michaelmior opened #39 "Calling Vue.use"
How can I call `Vue.use` (or `Vue.component`) to register other things needed to test my components?

[2016-11-28 12:05] egoist commented on #39
To register components:

[code]

In fact, this would also work:

[code]

[2016-11-28 14:25] michaelmior commented on #39
@egoist Thanks for clarifying. I guess I was wondering if there was some place in particular this was intended to happen. putting this in `play/index.js` does the trick though. Thanks!

[2016-11-28 14:25] #39 closed, assigned to nobody

[2016-12-16 23:28] dweldon opened #40 "Uncaught ReferenceError: _h is not defined"
Everything works fine with:

[code]

However, when I upgrade vue and vue-template-compiler to 2.1.5, nothing renders and I get the following in the console:

[code]

Is this just me, or is it failing for anyone else?

[2016-12-17 05:28] egoist commented on #40
um.. vue-template-compiler@2.1.5 renamed `_h` to `_c` and we were using `2.1.3` to build vue-play 😂 will fix.

Related to https://github.com/vuejs/vue/commit/4b51ad048306367a6fb6fbee7445e086d855f31e

[2016-12-17 05:36] #40 closed, assigned to nobody

[2016-12-17 05:42] egoist commented on #40
Upgrade to `2.2.0` would fix.

[2016-12-25 03:46] michaelmior opened #41 "Use with Vuex"
How can I inject a Vuex store for use with components I'm testing? I see vue-play itself uses Vuex so I'm not sure how to make use of Vuex myself without vue-play interfering.

[2016-12-25 04:03] egoist commented on #41
the manager page uses vuex but the preview(iframe) does not, your component does not really affect vue-play, it's independent from the app interface.

[./src/preview.js](https://github.com/vue-play/vue-play/blob/master/src/preview.js) is the actual file loading your component.

[2016-12-25 04:30] egoist commented on #41
Currently you can import your  vuex `store` and use it directly, but the `mapState...` helpers would not work.  since it requires your to bind `store` to Vue instance

[code]

[2016-12-25 16:21] matteodem opened #42 "Using template strings"
I tried using template strings like this:

[code]

But I get following error:

[code]

Any idea on how to resolve this? Would love to get started on writing some ui components

[2016-12-25 16:27] egoist commented on #42
use the `--standalone` option if you're using vue-play-cli

check out http://vuejs.org/v2/guide/installation.html#Standalone-vs-Runtime-only-Build for more details.

[2016-12-25 16:27] #42 closed, assigned to nobody

[2016-12-25 22:35] matteodem commented on #42
Thanks! I think it'd be helpful to put that here https://github.com/vue-play/vue-play#register-components. Can create a small PR if you want me to.

[2016-12-26 04:04] egoist commented on #42
@matteodem thanks, please do 😀

[2016-12-28 15:56] michaelmior commented on #41
That was my question really, whether it's possible to bind the store to the Vue instance since I want to be able to use `this.$store`.

[2016-12-28 15:59] egoist commented on #41
Maybe It could be done with `play('Button', module, {store})` so that we bind the store when we create the Vue instance, I'm just not sure if there's any more elegant solution for now.

[2016-12-29 01:17] michaelmior commented on #41
@egoist Thanks for the suggestion. I'm new to Vue so I'm still figuring out how all this stuff works :) I'll update if I come up with anything useful.

[2016-12-29 08:52] egoist opened #44 "Official webpack template integration"
It should be easy to add vue-play to a [webpack-template](https://github.com/vuejs-templates/webpack) project.

Maybe send a PR to https://github.com/vuejs-templates/webpack/tree/master/docs to introduce how.

[2017-01-01 05:14] dweldon commented on #44
For anyone working on this, you can see my hacky solution [here](https://dweldon.silvrback.com/vue-play).

[2017-01-16 08:02] carlmathisen opened #45 "Display source code of .vue files in the Example tab"
Hi guys,

Thank you for a great project! It was one of the reasons why we could make the switch from React to Vue in one of our products :)

One issue though, I am trying to provide full .vue file examples in our vue-play configuration. Like so:

[code]

Looking at the source code, vue-play can read the example code automatically from the `template` string property, or the custom `example` propert

[2017-01-17 03:04] egoist commented on #45
try `import raw from '!raw-loader!./WithText.vue';`

[2017-01-17 05:23] carlmathisen commented on #45
Thank you, that worked perfectly!

I'm trying to think of a way to implement this directly in `vue-play` and create a PR - it would be cool with the `example` property auto-populating itself if  `add(... value)` was a vue file.

Since all imports in ES6 needs to be static, I can't see how `vue-play` itself can load the raw contents dynamically through webpack.

[2017-01-17 09:27] egoist commented on #45
this is sure possible, look forward to your PR 😄

[2017-01-23 11:31] JackuB commented on #41
Hey, I was thinking about it, and for me it seems that the most natural implementation would be to be able to initialize vuex for each scenario like this:

[code]

I think we would only need to add support for Vuex in https://github.com/vue-play/vue-play/blob/master/src/preview.js - can prepare a PR

Currently I'm just mocking relevant data stores and vuex for each component like so:

[code]

[2017-01-23 11:38] egoist commented on #41
@JackuB looks good

[2017-01-23 14:33] michaelmior commented on #41
@JackuB Looks good to me too. Would love to see this integrated :)

[2017-02-01 00:15] #45 closed, assigned to nobody

[2017-02-03 18:45] dweldon opened #48 "Example tab disappears on hot-reload"
I'm unclear if this is a result of my wacky setup, but whenever vue-play hot-reloads, the previously selected scenario will always be missing its example tab. A hard reload of the root URL fixes the issue until the next hot-reload.

[2017-02-05 17:45] egoist opened #49 "Mix `import` with `module.exports` error"
https://github.com/webpack/webpack/issues/4039

- webpack 2

According to this, we use `module.exports` [here](https://github.com/vue-play/vue-play/blob/master/src/play.js#L42) and if you use `import` in `./play/preview.js` the `module.exports` will be undefined and read-only...

[2017-02-10 11:05] wienska commented on #44
Hi! Can't integrate vue-play with vue-cli webpack template, got webpack building error: TypeError: Cannot read property '0' of undefined. Am I doing smth wrong? Any solution?

[2017-02-11 04:51] jakehamilton opened #50 "Bad compilation"
I've dug at it for the past hour, looks like it's a dependency issue?

Steps to reproduce:

[code]

Then create `./play/index.js` with these contents:

[code]

Then try each of these:

[code]

Error is:

[code]

[2017-02-12 01:06] dweldon commented on #48
I ended up switching back to serving my play files "the hard way" and that seems to have fixed the issue.

[2017-02-12 01:06] #48 closed, assigned to nobody

[2017-02-12 15:10] dweldon commented on #44
I just added an updated (and more detailed) set of instructions here:

https://gist.github.com/dweldon/b6ab44b4f53ffdfad3a77b3157f0833c

This new version integrates with the existing webpack build process instead of using `vue-play-cli`.

[2017-02-14 13:33] pulkitnandan opened #51 "Error while trying the process from readme"
Hi,

I have been trying to use vue-play and followed first 10 lines as per readMe but it fails with following error log

I have generated the boilerplate code using the https://github.com/nuxt/express and tried the harder way as well. Same error is thrown on port 5000.

[2017-02-14 13:52] egoist commented on #51
vue-play-cli is using webpack 1, and seems you have webpack 2 and html-webpack-plugin for webpack 2 installed in your project.

[2017-02-14 15:16] wienska commented on #44
Thanks a lot!

[2017-02-14 18:50] dweldon commented on #51
@pulkitnandan if you are willing to set it up "the hard way", I'd have a look at issue #44 for a solution.

[2017-02-15 08:28] pulkitnandan commented on #44
No this doesn't works. Some package is missing here.

[2017-02-15 09:42] pulkitnandan commented on #51
@dweldon  It doesn't works. same error.

But I did managed to get it work after a package was installed locally without --save-dev, just forgot it's name, also deleted node-modules.

[2017-02-15 10:24] rohitcelestial commented on #51
Is there any way to make it work with webpack v1? @egoist Please suggest.

[2017-02-15 19:25] dweldon commented on #44
@pulkitnandan Well it works for me, but I'm using the absolute latest version of vue-cli webpack. I will attempt to keep the instructions updated as new versions are released.

You may want to consider generating a new project skeleton and then either diffing it against your current project or just migrating your files to the new skeleton. I prefer diffing, but it's a manual process that takes a w

[2017-02-16 01:16] dweldon opened #52 "Narrow rendering on IE"
On IE 10+ (maybe others) I've found that the spot doesn't render at full width. There's an easy fix though - just add `width: 100%;` to `.play-ground`.

[2017-03-08 08:50] LouiseStroeh commented on #37
Hi. I am experiencing the same as sobolevn. Vue Play works when I am setting `<style lang="sass"></style>`, but this is not an option in the project, I am working on. Is there some way that I can make Vue Play work with `<style lang="scss"></style>`?

[2017-03-09 11:46] tfennelly opened #53 "Why would I configure "The hard way" ?"
Hi. Thanks for creating `vue-play`. It's awesome !!

**Question** (I already asked @egoist on Gitter, but I'm guessing that's not really being used) ... why would one configure things “The hard way” [ala the Getting Started section in the docs](https://github.com/vue-play/vue-play#getting-started) ?

Why would I define a `./play/preview.js etc` ? The docs explain _**how**_ you'd make these configu

[2017-03-09 12:00] tfennelly commented on #53
Maybe I need to work via https://github.com/vue-play/vue-play-cli and specify something special there ??

[2017-03-09 12:01] egoist commented on #53
It's how vue-play works, all your stories are loaded by `./play/preview.js`, it's just a bare minimal Vue app which creates a Vue instance using the selected story and render it. Then we use `./play/app.js` which is another Vue app to select the story you wanna display. Since we don't want the css and js in `./play/preview.js` to affect the our main app `./play/app.js`, we load it by using an `ifr

[2017-03-09 12:03] egoist commented on #53
There's `The hard way` because you may want to integrate `vue-play` to your existing workflow, for example: you already have a webpack config for your app

[2017-03-09 14:07] tfennelly commented on #53
@egoist thanks for the reply.

In the meantime, [I just created a wrapper `Page` component](https://github.com/tfennelly/jenkins-logging-chrome-ext/commit/aca72b1856dbeb901d9487343e9504b7939240f0) for use solely in my `vue-play` stories + added a `webpack.config.js` for use with `vue-play` to get the CSS etc into the distro it uses etc.

[2017-03-09 14:08] tfennelly commented on #53
Btw, I do think an example of how someone would redefine/override `preview.js` to e.g. include bootstrap CSS files etc would be useful. The current doc snippets appear to just show how to redefine them to just do what they're already doing (i.e. nothing new). I'm sure it's obvious to the well initiated (in `vue`, `vue-play` and `webpack`), but for someone like me that's just started using Vue, it'

[2017-03-13 16:58] egoist commented on #51
Try the new `getplay`: https://github.com/vue-play/vue-play#getting-started

[2017-03-13 16:58] #51 closed, assigned to nobody

[2017-03-14 05:52] pulkitnandan commented on #51
I'm using nuxt 0.9.11 and vue play give following error on yarn play but it did works fine with the latest pull of nuxt-express starter template.

ERROR in   TypeError: Cannot read property 'request' of undefined

  - ExternalModuleFactoryPlugin.js:37 handleExternals
    [store]/[html-webpack-plugin]/[webpack]/lib/ExternalModuleFactoryPlugin.js:37:33

  - ExternalModuleFactoryPlugin.js:46 next

[2017-03-14 08:23] egoist commented on #51
I'm not sure what's going on with this, it would be much better if you can provide a repo

[2017-03-15 13:11] pulkitnandan opened #54 "need complex, real world examples"
Hi

I'm trying to understand the need of this tool. Is this a some kind of ui component testing tool?

I'm also not understanding it's use,  if I can't build complex play components with state and also those without states but they require props. I think I also can't reuse my data method to pass data to component by hitting a api request or any lifecycle hook as I mostly prepare my data there or d

[2017-03-20 06:43] csonlai commented on #50
ERROR in   TypeError: Cannot read property '0' of undefined

[2017-03-20 06:49] csonlai commented on #50
ERROR in   TypeError: Cannot read property '0' of undefined
met the same problem, using webpack2

[2017-03-20 06:49] egoist commented on #50
@csonlai can you provide a repo to reproduce?

[2017-03-20 08:38] csonlai commented on #50
ExternalModuleFactoryPlugin.js:
normalModuleFactory.plugin("factory", function(factory) {
		return function(data, callback) {
			var context = data.context;
			var dependency = data.dependency; // it is data.dependency[0] in webpack2 and cause error

[2017-03-24 13:53] kazupon commented on #5
I think it can realize with custom blocks. 🌠

[2017-04-04 16:23] blake-newman opened #56 "[Feature] Add output tab"
In my opinion a nice feature for vue-play would be able to add an output tab.

This should display the rendered component, this will enable the ability to visually see the components output DOM.

[2017-04-22 10:10] antonzapevalov opened #58 "TypeError: Path must be a string. Received true"
When I run command yarn play, get error

![screenshot at 22 15-08-35](https://cloud.githubusercontent.com/assets/6674242/25303498/97f0f54a-276d-11e7-8e73-2a204a8dcc58.png)

[2017-04-22 10:17] egoist commented on #58
Fixed in `getplay@0.1.4`

[2017-04-22 10:17] #58 closed, assigned to nobody

[2017-05-22 22:59] dweldon opened #60 "How to use with vue-router"
How should one configure `vue-play` to work with `vue-router`? It seems like we don't have the option to pass a `router` instance to `preview`, so I'm unclear how keep components with `<router-link>` elements from throwing errors.

[2017-05-22 23:47] dweldon commented on #60
Here's what my `play/index.js` looks like:

[code]

The component renders correctly outside of `vue-play`. The error I'm getting inside `vue-play` is:

[code]

I'm certain that `VueRouter` is getting picked up (Vue seems to know what a `router-link` is), but the routes are not. I assume I'm supposed to be attaching the `router` in some other way. Ideas?

[2017-05-23 23:10] walleXD opened #62 "Setting up with Vuetify"
Hi all,

[Vuetify](https://vuetifyjs.com/) is a material design component library for vue. I am trying to use it for my project but I am not sure how to use it in conjunction with vue-play to develop my components. What would be the way to do so?

Thanks alot

[2017-05-24 05:56] egoist commented on #62
Hmm, I think nothing special? It's just a framework:

[code]

[2017-05-24 05:58] walleXD commented on #62
Ah.

How do I include the CSS/Stylus files?

[2017-05-24 06:00] egoist commented on #62
Same as other vue/webpack project.

[2017-05-24 07:46] walleXD commented on #62
I am using nuxt.js with vuetify. So, how would you suggest adding all the appropriate css files? I am not entirely sure about the best way of doing in in vue-play

figured it out 👍

Just a simple import of the stylus file into the index.js in the play folder does the work
[code]

[2017-05-26 02:30] #62 closed, assigned to nobody

[2017-05-26 16:19] kazupon commented on #5
As the PoC with using custom blocks, I implement `.play` file (I named as `play scenario component`: PSC) like the single file component.

Please check the following commit:
https://github.com/kazupon/vue-play/commit/38bc625a4953039c62d3367ea98098e024fd65d7

I think we should consider to release this feature the below:

- exports custom blocks loader for play scenario component as npm module
- imp

[2017-05-26 16:56] kazupon commented on #5
~~when we support the `styleguide` method, maybe we will not need  `example` custom block loader.
https://github.com/vue-play/vue-play/issues/35~~

[2017-05-27 16:35] kazupon opened #63 "[feature] playground tab like react storybook knobs addons"
in vue-play, I think it's useful vue component playground.
ref: https://github.com/storybooks/storybook/tree/master/addons/knobs

[2017-05-27 16:40] kazupon commented on #18
we might refer to react storybook addon API. 😉
https://storybooks.js.org/docs/react-storybook/addons/api/

[2017-05-27 18:51] ndelangen opened #64 "Working with storybooks"
Hello [Storybook](https://github.com/storybooks/storybook) maintainer here,

Are the [people maintaining this package](https://github.com/vue-play/vue-play/graphs/contributors) perhaps interested in a chat about possibly working together on a Storybook for Vue? @yanick @egoist @zephraph @kazupon

Reading the [issues here](https://github.com/vue-play/vue-play/issues), some people are interested in

[2017-05-28 16:04] yanick commented on #64
Disclaimer: I think I managed to be lumped into the @-list because of my massive one-line documentation typo PR. So here I'm more of an interested civilian, and can hardly be considered anything remotely close to being a vue-play developer.

This being said, bringing the vue-play and storybook efforts together makes total sense for me. And although my JavaScript skills aren't as l33t as for other

[2017-05-29 15:36] jaredhobbs commented on #37
i got it working by using the following config:

[code]

[2017-05-31 13:43] Rayraegah commented on #35
Interested.

Used to employ [prop-doc](https://github.com/propellant/doctor) to generate the readme. Then, I wrote my own parser to extract properties and methods from component and display that a readme (also load and use a readme.md file if present)

[2017-06-11 14:00] rodneyrehm commented on #5
@kazupon that commit registers the `example` loader, but then never uses it (because using `<template>` invokes the compiler and `<example>` does not)?

I would have loved a way to keep the `<example>` blocks in the `.vue` files themselves, but I'll take the `.play` approach over the current `.play.js` any day! When can we have this? ;)

Do you see a chance to remove the manual glue `MyButton.play

[2017-06-11 16:30] kazupon commented on #5
@rodneyrehm

Well, in the PoC with using custom blocks, will need to `example` loader.

I think it's possible, if import `.play` and handle  in `play/index.js`.

well, in the PoC with using custom blocks, we might need to provide syntax highlighting plugin for some editors.

[2017-06-12 14:46] matt-oconnell opened #65 "Use without dependency on poi"
We are working with an existing codebase that is on an alpha version of Babel 7. Poi currently uses Babel 6, making it incompatible with our current project. It would be very helpful to allow for manual configuration of `vue-play`'s webpack configuration (+ webpack dev server / hot-reloading) without hard-tying it to `poi`.

[2017-06-12 14:59] kaicataldo commented on #64
Related discussion: https://github.com/storybooks/storybook/issues/1262

[2017-06-12 15:23] egoist commented on #65
this is all your need for a normal webpack project:

[code]

Your template file for `html-webpack-plugin` should have a `<div id="app"></div>` tag since `vue-play` is mounted there.

[2017-06-12 17:45] just-be-dev commented on #64
I'd definitely be interested in collaborating. @egoist really has the final say as to what this would mean for vue-play, but it makes complete sense to me. I feel there are some challenges to overcome though.

[2017-06-12 22:47] ndelangen commented on #64
I really could use the help!

I started on it here: https://github.com/storybooks/storybook/pull/1267
I've gotten webpack to build, but preview stays empty.

I'm not sure how close I am, I'm pretty sure the vue-app in preview is rendering, but it's not rendering a story.

[2017-06-13 21:15] matt-oconnell commented on #65
@egoist Thanks!

[2017-06-13 21:15] #65 closed, assigned to nobody

[2017-06-17 08:23] hauptrolle opened #66 "Usage with vue-share-components"
Hi,

first of all. Thank you for your nice work!

When I setup a project with [vue-share-components](https://github.com/Akryum/vue-share-components/issues) and then add vue-play with `getplay` the demo of the default test componenten doesn't work. I get the following error:
[code]

If i change`poi` to `vbuild` everything works fine, but I dont have the hot reloading.

I could need some help here .

[2017-06-17 08:32] egoist commented on #66
Upgrade `vue-loader` in your project, it might be out-dated.

[2017-06-17 10:27] hauptrolle commented on #66
@egoist Wow. Sometimes it is so easy 😄
I had vue-loader 10.0.0 installed. With the latest 12.x.x version it works.
Thanks for your fast reply and have a nice weekend.

[2017-06-17 10:27] #66 closed, assigned to nobody

[2017-06-20 10:52] sunwukung opened #67 "Problems with dynamic loading example"
https://github.com/vue-play/vue-play#loading-scenarios-dynamically

I've tried implementing this - but I get the following error in the browser console:

[code]
I integrated vue-play into my project using [this guide](https://gist.github.com/dweldon/b6ab44b4f53ffdfad3a77b3157f0833c)

My index file looks like this:
[code]

my scenario directory contains one file - Hello.play.js - pointing at the He

[2017-06-20 14:32] sunwukung commented on #67
I removed the {configure} lines from the example and everything works as expected

[2017-06-20 14:32] #67 closed, assigned to nobody

[2017-07-28 09:15] weiying-chen opened #68 "vue-play doesn't work with projects generated with vue-cli"
Steps:

1. Install vue-cli and do `vue init webpack play-test` (and do `npm install`)
2. Install vue-play: `npm install -D vue-play vue-play-cli`
3. Add vue-play to `package.json`: `"play": "vue-play start ./src/play --webpack-config ./build/webpack.dev.conf.js"`
4. run vue-play: `npm run play`

You'll see a long error like:

[code]

[2017-07-28 09:15] sky790312 commented on #68
I have the same problem...
I try to set up by manual but not work.
Then I try this post:
https://dweldon.silvrback.com/vue-play
Still can't work. Is that any issue with new vue-cli version ..?

[2017-07-28 09:15] jason90929 commented on #68
+1

[2017-07-28 20:44] dweldon commented on #68
See #44 for a related discussion.

@sky790312 I haven't updated the article yet. Please see my updated directions here:

https://gist.github.com/dweldon/b6ab44b4f53ffdfad3a77b3157f0833c

[2017-07-31 07:11] sky790312 commented on #68
I still face some problem about webpack setting.

[code]

I have try with webpack 1, it works.
But it doesn't work in webpack2.

following is my project setting which generate by vue-cli

    "vue": "^2.4.2",
    "webpack": "^2.3.3",
node version over 4 with the latest vue-cli version
Any idea..?

[2017-07-31 08:17] sky790312 commented on #68
I can run it! Thanks @dweldon !

[2017-07-31 10:22] sky790312 commented on #68
@dweldon
Now I face some problem with css preprocessor.
I have import global.styl in my project. How do I use it in vue play ..?

[2017-07-31 17:39] dweldon commented on #68
@sky790312 You can import your global styles from `src/play/index.js`. This is shown in step 3 where I do: `import 'css';` - I actually have a `src/css/index.js` which then imports all of my stylus files.

[2017-07-31 21:36] ndelangen commented on #64
We released Storybook for Vue today!

https://twitter.com/NorbertdeLangen/status/892027606878609408

https://medium.com/storybookjs/introducing-storybook-for-vue-940f222541c5
![1-lclbiatp3kct58yrrq-bra](https://user-images.githubusercontent.com/3070389/28799501-1cf7fb56-7649-11e7-93da-69985f88ab8f.png)

[2017-08-01 03:22] sky790312 commented on #68
@dweldon  You mean import stylus files into that index.js file? How do you do that?

Following is my project structure. How do I use it?
https://i.stack.imgur.com/Lkvve.png

[2017-08-01 04:10] dweldon commented on #68
@sky790312 It's exactly what it sounds like. Webpack is magic. My `src/css/index.js` looks like this:

[code]

If you want all of your styl files included you could add a file like: `src/assets/css/index.js`:

[code]

If you only want `global.styl` you could import that directly from your `src/play/index.js`.

[2017-08-01 06:09] sky790312 commented on #68
@dweldon I can run 5000 port now, but I still face some problem as :

`Refused to load the font 'data:font/woff;base64,d09GRgABAAAAAKD5ABIAAAABjrQAAAAAAACfoAAAAVkAAAKCAAAAA…mFlx52L/Hg0KNrUdBzxUtnxwVGtpuQjwMjvPeMMO8ZD8s9D4CtrqN//S9M2ek/FckP9vfjlA==' because it violates the following Content Security Policy directive: "default-src 'self'". Note that 'font-src' was not explicitly set, so 'default-src

[2017-08-01 09:34] sky790312 commented on #68
@dweldon I also facing the problem with i18n, my components is combine with vue-18n...
I use like this:

[code]

but it still can't understand $t(xxx) in my component..

[2017-08-01 10:01] sky790312 opened #69 "how to work with vue-i18n !?"
my component combines with vue-i18n. I try to add like this:

[code]

but it still can't understand $t(xxx) in my component

[2017-08-03 15:39] kazupon commented on #69
fixed, and I provided the storybook example.
please check vue-i18n v7.1.1

[2017-09-20 07:26] andreasvirkus commented on #37
@jaredhobbs did you add that file to your `config.js` file or as a separate webpack config under `config/`?

[2017-09-20 19:23] jaredhobbs commented on #37
it's what I use as my webpack config: `vue-play start --wc .play.config.js` where `.play.config.js` is the file above

[2017-09-26 07:19] bitmensch commented on #35
This would be awesome.

[2017-09-28 05:29] miljan-aleksic opened #70 "Add raw examples folder"
Getplay seems ok, but I don't like so much that philosophy. I would like to always be able to set it up all by my self. The documentation doesn't seems helping much with that case, and the most effective way would be a example folder with a mini project set up.

Thanks for all your hard work! I prefer vue-play over bookstory.

Side note: the Getplay could use some update on latest POI config.

[2017-09-28 06:28] miljan-aleksic opened #71 "Data panel for the current scenario"
As using vue devtools with the scenarios is not yet possible (as far as I know) it would be useful to reproduce some of it features, like the data. Having a Data panel displaying the scenario component data would help on developing, and perhaps in some future release an option to navigate through it childs data.

[2017-09-29 04:01] miljan-aleksic opened #72 "Persist panel states"
When a panel is toggled and the page refreshed the panel state doesn't persist. Could be archived with query params as in storybooks, for example.

[2017-09-30 08:39] MarvinXu opened #73 "Request for responsive layout"
need to test my components on mobile devices
![_20170930163802](https://user-images.githubusercontent.com/7382357/31044221-d5f0d9be-a5fd-11e7-96b7-e61ee3ae99c9.jpg)

[2017-10-20 11:05] andreasvirkus commented on #73
`vue-play` has a responsive option

![screen shot 2017-10-20 at 14 05 04](https://user-images.githubusercontent.com/9140811/31818195-bc4c987a-b59f-11e7-9532-5a00f99e0903.png)

[2017-10-25 08:54] MarvinXu commented on #73
I didn't see any options here.
http://vue-play-button.surge.sh/?scenario=default&spot=Box
Maybe because it is not the latest version ?

[2017-10-25 13:05] andreasvirkus commented on #73
Did you try setting it up locally (With the latest version)?

[2017-11-02 10:01] folmert opened #74 "Passing function to component doesn't work"
I've added [vue-select](https://github.com/sagalbot/vue-select) component scenarios into my own forked vue-play.

play/VSelect.vue:
[code]

play/VSelect.play.js:

[code]

Now when I have `:on-change="onchangeCallback"` defined in VSelect.vue it works:
[code]

but when I move `:on-change="onchangeCallback"` along with onchangeCallback into VSelect.play.js:
[code]
it doesn't work any more, I don't g

[2017-11-09 03:53] MarvinXu commented on #73
I tried this feature, but clearly it's not what I wanted, I meant to test on a real mobile device, not simulations on desktop.

[2017-11-24 13:30] probil opened #75 "Is it possible to select particular device on play start?"
I mean, select `iPhone 5` by default?
Is it possible to add own devices to the toolbar?

[2017-12-07 09:19] nanokind opened #76 "[feature request] Persist selected device info in url"
so we can keep the previous device state when refresh the page

[2018-04-01 13:37] johannes-z opened #78 "Adding external dependencies"
How can I add external dependencies such as CSS or JS files hosted on a CDN?

[2018-04-12 12:41] denisinvader opened #79 "Framework configuration"
Can I disable hotkeys and collapse console by default?

Also I want to change browser title template.

There is no API documentation I found 😞

[2018-06-06 20:41] #18 closed, assigned to just-be-dev

[2019-01-07 10:02] wywsoor opened #81 "npm install error"
安装好依赖包之后运行报错，我也不知道是不是网速问题还是啥，重新下载了好多次都不行。

[2019-01-09 03:18] oktamapangestu opened #82 "TypeError: Expected a value of type `undefined` for `dist` but received `"dist-play""
i have something error when i run 'yarn play', this is the error i have

`TypeError: Expected a value of type `undefined` for `dist` but received `"dist-play"`.
    at Function.Struct.validate.value [as validate] (/home/oktama-kantor/Documents/RESEARCH/vue-play/node_modules/superstruct/lib/index.js:1196:17)
    at module.exports (/home/oktama-kantor/Documents/RESEARCH/vue-play/node_modules/poi/lib

[2019-02-14 06:38] wahengchang opened #83 "not supporting SSR, window is undefined"
not supporting SSR, window is undefined

i m using nuxt, whenever `vue-carousel`  is imported the page is completely crushed.

[2019-06-09 01:56] LeeChar commented on #82
docute/node_modules/poi-load-config/index.js line28

`babel(buildConfigChain) {
    // Check direct and parent directory
    return new Promise(resolve => resolve(babelLoadConfig(this.options.cwd, buildConfigChain) || {}))
  }`